Settings/res/values-af/ext_strings.xml merge=ours
Settings/res/values-am/ext_strings.xml merge=ours
Settings/res/values-ar/ext_strings.xml merge=ours
Settings/res/values-as-rIN/ext_strings.xml merge=ours
Settings/res/values-ast-rES/ext_strings.xml merge=ours
Settings/res/values-az-rAZ/ext_strings.xml merge=ours
Settings/res/values-be/ext_strings.xml merge=ours
Settings/res/values-be-rBY/ext_strings.xml merge=ours
Settings/res/values-bg/ext_strings.xml merge=ours
Settings/res/values-bn-rBD/ext_strings.xml merge=ours
Settings/res/values-br-rFR/ext_strings.xml merge=ours
Settings/res/values-bs-rBA/ext_strings.xml merge=ours
Settings/res/values-ca/ext_strings.xml merge=ours
Settings/res/values-cs/ext_strings.xml merge=ours
Settings/res/values-csb-rPL/ext_strings.xml merge=ours
Settings/res/values-cy/ext_strings.xml merge=ours
Settings/res/values-da/ext_strings.xml merge=ours
Settings/res/values-de/ext_strings.xml merge=ours
Settings/res/values-el/ext_strings.xml merge=ours
Settings/res/values-en-rAU/ext_strings.xml merge=ours
Settings/res/values-en-rGB/ext_strings.xml merge=ours
Settings/res/values-en-rIN/ext_strings.xml merge=ours
Settings/res/values-en-rPT/ext_strings.xml merge=ours
Settings/res/values-eo/ext_strings.xml merge=ours
Settings/res/values-es/ext_strings.xml merge=ours
Settings/res/values-es-rCO/ext_strings.xml merge=ours
Settings/res/values-es-rMX/ext_strings.xml merge=ours
Settings/res/values-es-rUS/ext_strings.xml merge=ours
Settings/res/values-et-rEE/ext_strings.xml merge=ours
Settings/res/values-eu-rES/ext_strings.xml merge=ours
Settings/res/values-fa/ext_strings.xml merge=ours
Settings/res/values-fi/ext_strings.xml merge=ours
Settings/res/values-fil-rPH/ext_strings.xml merge=ours
Settings/res/values-fr/ext_strings.xml merge=ours
Settings/res/values-fr-rCA/ext_strings.xml merge=ours
Settings/res/values-frp-rIT/ext_strings.xml merge=ours
Settings/res/values-fy-rNL/ext_strings.xml merge=ours
Settings/res/values-ga-rIE/ext_strings.xml merge=ours
Settings/res/values-gd-rGB/ext_strings.xml merge=ours
Settings/res/values-gl-rES/ext_strings.xml merge=ours
Settings/res/values-gu-rIN/ext_strings.xml merge=ours
Settings/res/values-hi/ext_strings.xml merge=ours
Settings/res/values-hr/ext_strings.xml merge=ours
Settings/res/values-hu/ext_strings.xml merge=ours
Settings/res/values-hy-rAM/ext_strings.xml merge=ours
Settings/res/values-in/ext_strings.xml merge=ours
Settings/res/values-is-rIS/ext_strings.xml merge=ours
Settings/res/values-it/ext_strings.xml merge=ours
Settings/res/values-iw/ext_strings.xml merge=ours
Settings/res/values-ja/ext_strings.xml merge=ours
Settings/res/values-ka-rGE/ext_strings.xml merge=ours
Settings/res/values-kk-rKZ/ext_strings.xml merge=ours
Settings/res/values-km-rKH/ext_strings.xml merge=ours
Settings/res/values-kn-rIN/ext_strings.xml merge=ours
Settings/res/values-ko/ext_strings.xml merge=ours
Settings/res/values-ku/ext_strings.xml merge=ours
Settings/res/values-ky-rKG/ext_strings.xml merge=ours
Settings/res/values-lb/ext_strings.xml merge=ours
Settings/res/values-lo-rLA/ext_strings.xml merge=ours
Settings/res/values-lt/ext_strings.xml merge=ours
Settings/res/values-lv/ext_strings.xml merge=ours
Settings/res/values-mk-rMK/ext_strings.xml merge=ours
Settings/res/values-ml-rIN/ext_strings.xml merge=ours
Settings/res/values-mn-rMN/ext_strings.xml merge=ours
Settings/res/values-mr-rIN/ext_strings.xml merge=ours
Settings/res/values-ms-rMY/ext_strings.xml merge=ours
Settings/res/values-my-rMM/ext_strings.xml merge=ours
Settings/res/values-nb/ext_strings.xml merge=ours
Settings/res/values-ne-rNP/ext_strings.xml merge=ours
Settings/res/values-nl/ext_strings.xml merge=ours
Settings/res/values-oc-rFR/ext_strings.xml merge=ours
Settings/res/values-or-rIN/ext_strings.xml merge=ours
Settings/res/values-pa-rIN/ext_strings.xml merge=ours
Settings/res/values-pl/ext_strings.xml merge=ours
Settings/res/values-pt-rBR/ext_strings.xml merge=ours
Settings/res/values-pt-rPT/ext_strings.xml merge=ours
Settings/res/values-rm/ext_strings.xml merge=ours
Settings/res/values-ro/ext_strings.xml merge=ours
Settings/res/values-ru/ext_strings.xml merge=ours
Settings/res/values-si-rLK/ext_strings.xml merge=ours
Settings/res/values-sk/ext_strings.xml merge=ours
Settings/res/values-sl/ext_strings.xml merge=ours
Settings/res/values-sq-rAL/ext_strings.xml merge=ours
Settings/res/values-sr/ext_strings.xml merge=ours
Settings/res/values-sv/ext_strings.xml merge=ours
Settings/res/values-sw/ext_strings.xml merge=ours
Settings/res/values-ta-rIN/ext_strings.xml merge=ours
Settings/res/values-te-rIN/ext_strings.xml merge=ours
Settings/res/values-th/ext_strings.xml merge=ours
Settings/res/values-tl/ext_strings.xml merge=ours
Settings/res/values-tr/ext_strings.xml merge=ours
Settings/res/values-ug/ext_strings.xml merge=ours
Settings/res/values-uk/ext_strings.xml merge=ours
Settings/res/values-ur-rPK/ext_strings.xml merge=ours
Settings/res/values-uz-rUZ/ext_strings.xml merge=ours
Settings/res/values-vi/ext_strings.xml merge=ours
Settings/res/values-zh-rCN/ext_strings.xml merge=ours
Settings/res/values-zh-rHK/ext_strings.xml merge=ours
Settings/res/values-zh-rTW/ext_strings.xml merge=ours
Settings/res/values-zu/ext_strings.xml merge=ours
